<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
    type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"  />
  </configSections>
  <log4net >
    <appender name="coreAppender"   type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\\Logs\\client_core_%date{yyyy-MM}.log" />
      <encoding value="utf-8"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMM" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="by TangMing&#13;&#10;" />-->
        <conversionPattern value="%newline记录时间:%date{yyyy-MM-dd HH:mm:ss,fff}  线程ID:[%thread] 日志级别:%-5level 日志名称:%logger 属性:[%property{MDC}] - 描述:%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="myRollingFileAppender"   type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\\Logs\\client_%date{yyyy-MM}.log" />
      <encoding value="utf-8"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMM" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="by TangMing&#13;&#10;" />-->
        <conversionPattern value="%newline记录时间:%date{yyyy-MM-dd HH:mm:ss,fff}  线程ID:[%thread] 日志级别:%-5level 日志名称:%logger 属性:[%property{MDC}] - 描述:%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="bootstrapperLoggerAppender"   type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\\Logs\\bootstrapperLogger.shell_%date{yyyy-MM}.log" />
      <encoding value="utf-8"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMM" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline记录时间:%date{yyyy-MM-dd HH:mm:ss,fff}  线程ID:[%thread] 日志级别:%-5level 日志名称:%logger 属性:[%property{MDC}] - 描述:%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="adapterAppender"   type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\\Logs\\client_adapter_%date{yyyy-MM}.log" />
      <encoding value="utf-8"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMM" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="by TangMing&#13;&#10;" />-->
        <conversionPattern value="%newline记录时间:%date{yyyy-MM-dd HH:mm:ss,fff}  线程ID:[%thread] 日志级别:%-5level 日志名称:%logger 属性:[%property{MDC}] - 描述:%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="mediaAppender"   type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\\Logs\\media_%date{yyyy-MM}.log" />
      <encoding value="utf-8"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMM" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="by TangMing&#13;&#10;" />-->
        <conversionPattern value="%newline记录时间:%date{yyyy-MM-dd HH:mm:ss,fff}  线程ID:[%thread] 日志级别:%-5level 日志名称:%logger 属性:[%property{MDC}] - 描述:%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="maxLoopAppender"   type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\\Logs\\maxLoop_%date{yyyy-MM}.log" />
      <encoding value="utf-8"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMM" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="by TangMing&#13;&#10;" />-->
        <conversionPattern value="%newline记录时间:%date{yyyy-MM-dd HH:mm:ss,fff}  线程ID:[%thread] 日志级别:%-5level 日志名称:%logger 属性:[%property{MDC}] - 描述:%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="myRollingFileAppender"/>
    </root>

    <logger name="prism.lib.shell" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="bootstrapperLoggerAppender"/>
    </logger>
    <!--adapter-->
    <logger name="Bsr.BS17DeviceAdapter" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="adapterAppender"/>
    </logger>
    <logger name="Bsr.LimitDeviceAdapter" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="adapterAppender"/>
    </logger>
    <logger name="Bsr.AdapterManager" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="adapterAppender"/>
    </logger>
    <logger name="Bsr.AdapterServices" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="adapterAppender"/>
    </logger>

    <!--core-->
    <logger name="Bsr.Core" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="coreAppender"/>
    </logger>
    <logger name="Bsr.ServiceModel.Share" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="coreAppender"/>
    </logger>
    <logger name="Bsr.ServiceProxy.Utils" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="coreAppender"/>
    </logger>

    <!--media-->
    <logger name="Bsr.MediaBstar" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="mediaAppender"/>
    </logger>
    <logger name="Bsr.SourceFileBstar" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="mediaAppender"/>
    </logger>
    <logger name="Bsr.SourceRemote" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="mediaAppender"/>
    </logger>
    <logger name="Bsr.Source.Contract" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="mediaAppender"/>
    </logger>
    <logger name="Bsr.Media.Common" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="mediaAppender"/>
    </logger>
    <logger name="Bsr.MediaPlay" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="mediaAppender"/>
    </logger>
    <logger name="MediaBstar.MaxLoop" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="maxLoopAppender"/>
    </logger>
  </log4net>
</configuration>
